html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #181a1b;
}

#emptyWorkout {
  background-color: #0361a8;
}

.mainContent {
  background-color: #181a1b;
}

button {
  background-color: #2b2a33;
}

* {
  color: white;
}

.template-title {
  color: white;
}

.template-button {
  background-color: rgb(30, 32, 34);
}

.popUp,
.buttonHolder,
.profileHolder {
  background-color: #181a1b;
  border: solid 1px white;
}

input,
textarea {
  background-color: #2b2a33;
  color: white;
}

.loader {
  border: 10px solid grey; /* Light grey */
  border-top: 10px solid rgb(59, 169, 252); /* Blue */
}

.template-popup,
#template-name,
#template-description {
  background-color: #181a1b;
}
