html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: rgb(15, 17, 17);
}

#emptyWorkout {
  background-color: #0361a8;
}

.mainContent {
  background-color: rgb(15, 17, 17);
}

button {
  background-color: #2b2a33;
}

* {
  color: white;
}

.template-title {
  color: white;
}

.template-button {
  background-color: rgb(30, 32, 34);
}
