.measurement-main {
  display: flex;
  width: 100%;
  height: 90%;
}

.beforeLoaded {
  justify-content: center;
  align-items: center;
}

.info {
  overflow: scroll;
  display: flex;
  width: 350px;
  height: 100%;
  flex-direction: column;
}

ul {
  list-style: none;
  padding: 0;
  margin: 5px 0 10px 0;
  width: 100%;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-weight: bold;
  margin-bottom: 10px;
}

p {
  padding: 0;
  margin: 0;
  font-size: 10px;
  color: grey;
}

input {
  border: solid 1px;
  width: 40px;
  font-size: 16px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

input:focus {
  outline: none;
}
