html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  /* background-color: #181a1b; color for dark mode */
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

header {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 350px;
}

#welcomeWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#themeChange,
#closeMenu {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 35px;
}

.centerItem {
  display: flex;
  justify-content: center;
  align-items: center;
}

#emptyWorkout {
  background-color: rgb(59, 169, 252);
  height: 30px;
  width: 100%;
}

.templateTitle {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.mainContent {
  height: 90%;
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 350px;
  max-height: 58vh;
  overflow: scroll;
}

.workoutHolder {
  display: flex;
  justify-content: space-between;
  width: 350px;
  max-height: 75vh;
  margin-top: 10px;
  overflow: scroll;
  flex-direction: column;
}

button {
  border: 0;
  border-radius: 5px;
}

::-webkit-scrollbar {
  display: none; /*Chrome, Opera and Safari no scrollbar*/
}

.redirectBtn {
  height: 65px;
  width: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttonHolder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 25vh;
  background-color: white;
  border: solid grey 1px;
  overflow: scroll;
  border-radius: 10px;
  padding-top: 10px;
  height: 300px;
  width: 355px;
  justify-content: space-around;
  align-items: center;
}

#login-button {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 35px;
  width: 150px;
}

* {
  /* disable text selection*/
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */

  font-family: Arial, Helvetica, sans-serif;
  -ms-overflow-style: none; /* IE and Edge no scrollbar*/
  scrollbar-width: none; /* Firefox no scrollbar*/
  /* background-color: #181a1b; color i want for dark mode*/
}

.IMG {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 300px;
}

.loader {
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid rgb(59, 169, 252); /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
