/*styling for main page templates*/
.template-topHead {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 98%;
  position: relative;
}

.template-topHead h1 {
  margin-left: 10px;
}

.template-topHead button {
  margin-right: 10px;
}

.template-border {
  border: solid 1px;
  border-radius: 10px;
  color: grey;
  width: 45%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 160px;
  height: 120px;
}

.template-title {
  font-size: large;
  font-weight: bolder;
  color: black;
  overflow: scroll;
  white-space: nowrap;
}

.template-button {
  background-color: rgb(234, 246, 255);
  color: rgb(59, 169, 252);
}

.template-menu {
  display: none;
}

.opened {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  left: 38%;
  top: 65%;
  background-color: rgb(38, 49, 53);
  color: white;
  border-radius: 5px;
  border-top-right-radius: 0px;
}

li {
  margin-left: 5px;
}

.template-workOutList {
  overflow: scroll;
  font-size: smaller;
  color: grey;
  padding: 0 5px 0 5px;
  height: 100%;
  word-wrap: anywhere;
}

.template-lastWorkout {
  color: grey;
  font-size: small;
  padding: 0 5px 10px 5px;
}

/*styling for create template popup*/
.template-popup {
  border: solid 1px rgb(38, 49, 53);
  display: flex;
  width: 350px;
  overflow: scroll;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 10%;
  z-index: 1;
  background-color: white;
  border-radius: 10px 10px 0 0;
  color: black;
  height: 90vh;
}

.template-save {
  background-color: #04aa6d;
}

.template-popup-button {
  height: 30px;
  width: 50px;
}

.template-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

.template-head {
  display: flex;
  flex-direction: column;
}

#template-name {
  font-size: x-large;
  border: none;
}

#template-description {
  resize: none;
  font-size: 16px;
  border: none;
}

.template-workoutWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.template-workoutWrapper-buttons {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-bottom: 5px;
}

.template-workoutWrapper-buttons button {
  width: 160px;
  height: 30px;
}

.template-workout {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  width: 98%;
  padding: 5px 0 5px 0;
  margin: 5px;
  border: solid 1px gray;
}

.template-workout-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 98%;
}

.template-info {
  display: flex;
  width: 98%;
  justify-content: space-between;
  margin-bottom: 5px;
}

.template-infoInput {
  width: 50px;
  size-adjust: none;
  border: none;
  border-radius: 5px;
  border: solid 0.5px grey;
}

.template-name {
  text-overflow: ellipsis;
  overflow: scroll;
  max-width: 250px;
  height: 20px;
}

.buttonWrapper {
  width: 95%;
  display: flex;
  justify-content: space-between;
}

.buttonWrapper button {
  width: 160px;
}

/* margins on popup */
.template-popup-button,
.template-headerInput {
  outline: none;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}
