.workout-wrapper {
  display: flex;
  height: 50px;
  border: solid 0.5px #4c4d4d;
}

.workout-info {
  display: flex;
  flex-direction: column;
  border-left: solid 1px #4c4d4d;
}

#equipment {
  padding-bottom: 20px;
}

.workout-info h5 {
  margin: 0;
}

.workout-info {
  font-size: 15px;
}

.popUp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 15vh;
  background-color: white;
  border: solid black 1px;
  overflow: scroll;
  border-radius: 10px;
  padding-top: 10px;
  height: 450px;
  width: 355px;
}

.hidden {
  display: none;
}

.imgContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popUpIMG {
  border: solid black 1px;
}

#closeMenu {
  position: absolute;
  font-size: 20px;
  top: 10px;
  right: 10px;
}

h3 {
  width: 275px;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}

span {
  font-size: small;
}
